.vs/
gotifySharp/obj/
gotifySharpIntergrationTests/bin/
gotifySharpIntergrationTests/obj/
gotifySharpTests/bin/
gotifySharpTests/obj/
gotifySharp/bin/
gotifySharp/bin
gotifySharp/bin
gotifySharp/bin/Debug/netcoreapp3.0/gotifySharp.deps.json
gotifySharp/bin/Debug/netcoreapp3.0/gotifySharp.dll
gotifySharp/bin/Debug
gotifySharp/bin/Debug/netcoreapp3.0/gotifySharp.pdb
gotifySharp/bin
